extends ../layout

block content
  table.table
      thead
        tr
          th Name
          th Phone number
          th Appointment time (UTC)
          th Reminder time
          th Timezone
          th Actions
          th
      tbody
        each appointment in appointments
          tr
            td  !{appointment.name}
            td  !{appointment.phoneNumber}
            td  !{appointment.time}
            td  !{appointment.notification}
            td  !{appointment.timeZone}
            td
              a.btn.btn-default.btn-sm(href="/appointments/" + appointment.id + "/edit") Edit
            td
              form(action="/appointments/" + appointment.id + "/delete",method="POST")
                button.btn.btn-danger.btn-sm(type='submit') Delete
